@import "./carousel.css";
@import "./list.css";
@import "./gallery.css";

.headline {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

// .gllery-grid {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   width: 100%;
//   border: 1px solid red;
// }
