.name-icon-and-temperature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    scale: 0.5;
  }
}

.icon-and-temperature {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
